.dropdown-toggle {
    white-space: nowrap;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.dropdown-menu {
    position: absolute;
    transform: translate(-1px, 54px) !important;
    z-index: 1000;
    display: none;
    right: -2px !important;
    left: auto !important;
    font-size: 12px;
    color: $color-text;
    text-align: left;
    background-color: $color-white;
    border: 1px solid $color-border;

    .dropdown-header {
        border-bottom: solid 1px $color-border;
        background-color: $color-background;
        height: 33px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-weight: 500;
            font-size: 11px;
            color: $color-primary;
        }
    }

    .dropdown-footer {
        background-color: $color-background;
        height: 33px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: $color-text;
            font-size: 11px;
        }

        &:hover {
            background-color: darken($color-background, 5%);
            cursor: pointer;
        }
    }
}

.dropdown-item {
    display: flex;
    width: 100%;
    padding: 0 20px;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    color: $color-text-secondary;
    white-space: nowrap;
    border-bottom: 1px solid $color-border;

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        background-color: darken($color-white, 5%);
        color: $color-text;
        cursor: pointer;
    }

    i {
        margin-right: 10px;
        color: $color-text-secondary;
        font-size: 14px;
    }
}
