.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid darken($color-body-background, 10%);

    > div {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 18px;
            font-weight: 500;
            color: $color-page-title;
        }
    }
}
