<section class="section">
    <div class="dashboard-item">
        <div>
            <small>Balance</small>
            <span class="success">{{3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
    <div class="dashboard-item">
        <div>
            <small>Total incomes</small>
            <span class="success">{{3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
    <div class="dashboard-item">
        <div>
            <small>Total expenses</small>
            <span class="danger">{{-3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
    <div class="dashboard-item">
        <div>
            <small>Total incomes</small>
            <span>{{3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
</section>

<section class="section">
    <div class="box two-third-width">
        <div class="box-header">
            <h4>Daily operations</h4>
        </div>
        <div class="box-content">

        </div>
    </div>
    <app-operations-small-table class="one-third-width" [operations]="operations" title="Last operations"></app-operations-small-table>
</section>

<section class="section">
    <div class="box two-third-width">
        <div class="box-header">
            <h4>Most profitable categories</h4>
        </div>
        <div class="box-content">

        </div>
    </div>
    <app-operations-small-table [operations]="operations" title="Most profitable categories"></app-operations-small-table>
</section>

<section class="section">
    <div class="box two-third-width">
        <div class="box-header">
            <h4>Most profitable categories</h4>
        </div>
        <div class="box-content">

        </div>
    </div>
    <app-operations-small-table [operations]="operations" title="Most profitable users"></app-operations-small-table>
</section>
