@import "../../../../assets/scss/variables/module";

.messages {

    &.visible {
        margin-bottom: 20px;
    }

    .message {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 8px 20px 8px 12px;
        position: relative;

        .close {
            position: absolute;
            font-size: 20px;
            cursor: pointer;
            right: 15px;
            top: calc(50% - 11px);
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.success {
            background-color: rgba($color-success, 0.2);
            border: 1px solid $color-success;

            .close {
                color: $color-success;
            }

            p {
                color: $color-success;
            }

            .logo i {
                color: darken($color-success, 10%);
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            i {
                font-size: 25px;
            }
        }

        p {
            flex: 1;
            font-size: 12px;
        }
    }
}
