@import "../../../assets/scss/variables/module";

.one-third-width {
    flex: 1;
}

.two-third-width {
    flex: 2;
}

.section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 15px;

    .box {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.dashboard-item {
    flex: 1;
    background-color: $color-white;
    border: 1px solid $color-border;
    padding: 15px 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;

    &:last-of-type {
        margin-right: 0;
    }

    > div {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        small {
            color: $color-text-secondary;
            font-size: 12px;
            margin-bottom: 5px;
        }

        span {
            font-size: 19px;
            font-weight: 500;
        }
    }
}

.operations {
    .operation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid $color-border;
        padding: 0 20px;

        .amount {
            font-size: 12px;
        }

        &:nth-of-type(even) {
            background-color: $color-background;
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: center;

            app-avatar {
                margin-right: 10px;
            }

            .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-right: 10px;

                span {
                    color: $color-text;
                    font-size: 12px;
                }

                small {
                    color: $color-text-secondary;
                    font-size: 11px;
                }
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }
}
