<section class="section">
    <div class="dashboard-item">
        <div>
            <small>Balance</small>
            <span class="success">{{3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
    <div class="dashboard-item">
        <div>
            <small>Total incomes</small>
            <span class="success">{{3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
    <div class="dashboard-item">
        <div>
            <small>Total expenses</small>
            <span class="danger">{{-3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
    <div class="dashboard-item">
        <div>
            <small>Total incomes</small>
            <span>{{3456 | money}}</span>
        </div>
        <div>

        </div>
    </div>
</section>
