<span (click)="activeModal.close()" class="close-icon"><i class="material-icons">clear</i></span>
<div class="modal-container">
    <app-loader *ngIf="isLoading"></app-loader>
    <ng-container *ngIf="!isLoading">
        <div class="modal-header">
            <h3>Category details</h3>
        </div>
        <div class="modal-body">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when.
            </p>
            <div class="details-header">
                <div class="details-field">
                    <label>Created :</label>
                    <span class="value">{{category.created | date}}</span>
                </div>
                <div class="details-field">
                    <label>Updated :</label>
                    <span class="value">{{category.updated | date}}</span>
                </div>
            </div>
            <div class="details-fields">
                <div class="details-field">
                    <label>Name :</label>
                    <span class="value">{{category.name}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="activeModal.close()" class="button secondary">
                <span class="title">Cancel</span>
                <span class="icon-container"><i class="material-icons">reply</i></span>
            </button>
        </div>
    </ng-container>
</div>

