<div class="authentication-content">
    <h2>Sign up</h2>
    <form [formGroup]="form" (ngSubmit)="register()" novalidate>
        <div class="form-fields">
            <app-input [abstractControl]="form.get('email')" label="Email" type="email" formControlName="email"></app-input>
            <app-input [abstractControl]="form.get('firstName')" label="First name" formControlName="firstName"></app-input>
            <app-input [abstractControl]="form.get('lastName')" label="Last name" formControlName="lastName"></app-input>
            <app-input [abstractControl]="form.get('password')" label="Password" type="password" formControlName="password"></app-input>
            <app-input [abstractControl]="form.get('repeatPassword')" label="Repeat password" type="password" formControlName="repeatPassword"></app-input>
            <div class="choice-row">
                <input id="termsAndConditions" type="checkbox">
                <label for="termsAndConditions">Agree with terms and conditions</label>
            </div>
        </div>
        <button type="submit" class="button primary full-width">
            <span class="title">Sign up</span>
            <span class="icon-container"><i class="material-icons">exit_to_app</i></span>
        </button>
        <div class="link">
            <p>Already have an account?</p>
            <a routerLink="/login">Sign in</a>
        </div>
    </form>
</div>
