<div class="authentication-content">
    <h2>Sign up</h2>
    <form [formGroup]="form" (ngSubmit)="register()" novalidate>
        <div class="form-fields">
            <div class="form-field">
                <input id="email" formControlName="email">
                <label for="email">Email : </label>
                <small [appFormError]="form.get('email')" errorType="required">Field is required</small>
            </div>
            <div class="form-field">
                <input id="password" type="password" formControlName="password">
                <label for="password">Password : </label>
                <small [appFormError]="form.get('password')" errorType="required">Field is required</small>
            </div>
            <div class="form-field">
                <input id="repeatPassword" type="password" formControlName="repeatPassword">
                <label for="repeatPassword">Repeat password : </label>
                <small [appFormError]="form.get('repeatPassword')" errorType="required">Field is required</small>
            </div>
            <div class="choice-row">
                <input id="termsAndConditions" type="checkbox">
                <label for="termsAndConditions">Agree with terms and conditions</label>
            </div>
        </div>
        <button type="submit" class="button primary full-width">
            <span class="title">Sign up</span>
            <span class="icon-container"><i class="material-icons">exit_to_app</i></span>
        </button>
        <div class="link">
            <p>Already have an account?</p>
            <a routerLink="/login">Sign up</a>
        </div>
    </form>
</div>
