<div class="box">
    <div class="box-header">
        <h4>Users</h4>
        <div>
            <i (click)="openAddUserFormModal()" class="material-icons">add</i>
        </div>
    </div>
    <div class="box-content">
        <app-line-loader [isPositionAbsolute]="true" *ngIf="isLoading"></app-line-loader>
        <table>
            <app-datatable-header
                [colspan]="colspan"
                [columns]="columns"
                [rowsCount]="users.length"
                [selectedRowsCount]="selectedUsersIds.length"
                (selectAll)="selectAll($event)"
                [sort]="sort"
                (sortChange)="sortChange($event)">
            </app-datatable-header>
            <tbody>
            <tr (click)="openUserDetailsModal(user.id)" *ngFor="let user of users">
                <td class="center">
                    <div (click)="$event.stopPropagation()"  class="table-choice choice-row">
                        <input [checked]="selectedUsersIds.indexOf(user.id) !== -1"
                               value="{{user.id}}"
                               (change)="handleUserSelect($event)"
                               id="user-{{user.id}}"
                               type="checkbox">
                        <label for="user-{{user.id}}"></label>
                    </div>
                </td>
                <td>
                    <div class="user">
                        <app-avatar [initials]="user.initials"></app-avatar>
                    </div>
                </td>
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.roles }}</td>
                <td class="center">{{user.updated | date: true}}</td>
                <td class="center">{{user.created | date: true}}</td>
                <td (click)="$event.stopPropagation()" class="center">
                    <div class="actions-container">
                        <i (click)="openEditUserFormModal(user.id)" class="material-icons">create</i>
                        <i (click)="openDeleteUserFormModal(user.id)" class="material-icons">delete</i>
                    </div>
                </td>
            </tr>
            <tr *ngIf="usersCount === 0">
                <td class="center" [colSpan]="colspan">No data</td>
            </tr>
            </tbody>
            <app-datatable-footer
                [paging]="paging"
                (pagingChange)="pagingChange($event)"
                [colspan]="colspan"
                [count]="usersCount">
            </app-datatable-footer>
        </table>
    </div>
</div>
