@import "../../../../assets/scss/variables/module";

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-white;
    }
}
