<div class="dropdown-header">
    <h4>Notifications</h4>
</div>
<div class="notifications">
    <app-loader *ngIf="isLoading"></app-loader>
    <ng-container *ngIf="!isLoading">
        <app-notification-box *ngFor="let notification of notifications" [notification]="notification"></app-notification-box>
        <div *ngIf="notificationsCount === 0" class="no-data"><span>No notifications yet</span></div>
        <div *ngIf="notifications.length < notificationsCount" class="dropdown-footer"><span>See all</span></div>
    </ng-container>
</div>
