<header [class.full-width]="fullWidth" class="header">
    <div>
        <h2>{{title}}</h2>
    </div>
    <div>
        <div class="header-box">
            <i class="material-icons">settings</i>
        </div>
        <div autoClose="outside" ngbDropdown ngbDropdownToggle class="header-box">
            <i class="material-icons">notifications</i>
            <span class="count">3</span>
            <div ngbDropdownMenu>
                <app-notifications-dropdown></app-notifications-dropdown>
            </div>
        </div>
        <div *ngIf="profile" class="header-box profile">
            <app-user-box [user]="profile"></app-user-box>
        </div>
        <div (click)="logout()" class="header-box">
            <i class="material-icons">power_settings_new</i>
        </div>
    </div>
</header>
