<span (click)="activeModal.close()" class="close-icon"><i class="material-icons">clear</i></span>
<div class="modal-container">
    <app-loader *ngIf="isLoading"></app-loader>
    <ng-container *ngIf="!isLoading">
        <form (ngSubmit)="apply()" class="form" [formGroup]="form">
            <div class="modal-header">
                <h3>Operations filter</h3>
            </div>
            <div class="modal-body">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when.
                </p>
                <div class="form-fields">
                    <app-datepicker [abstractControl]="form.get('dateFrom')" label="Date from" formControlName="dateFrom"></app-datepicker>
                    <app-datepicker [abstractControl]="form.get('dateTo')" label="Date to" formControlName="dateTo"></app-datepicker>
                    <app-input [abstractControl]="form.get('amountFrom')" type="number" label="Amount from" formControlName="amountFrom"></app-input>
                    <app-input [abstractControl]="form.get('amountTo')" type="number" label="Amount to" formControlName="amountTo"></app-input>
                    <app-select bindLabel="name"
                                [abstractControl]="form.get('categoriesIds')"
                                bindValue="id"
                                [items]="categories"
                                [multiple]="true"
                                label="Categories"
                                formControlName="categoriesIds">
                    </app-select>
                    <app-select bindLabel="email"
                                [abstractControl]="form.get('usersIds')"
                                bindValue="id"
                                [multiple]="true"
                                [items]="users"
                                label="Users"
                                formControlName="usersIds">
                    </app-select>
                    <div class="choice-row">
                        <input id="termsAndConditions" formControlName="deleted" type="checkbox">
                        <label for="termsAndConditions">Show deleted</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="reset()" class="button secondary">
                    <span class="title">Reset</span>
                    <span class="icon-container"><i class="material-icons">reply</i></span>
                </button>
                <button ngbAutofocus type="submit" class="button primary">
                    <span class="title">Apply</span>
                    <span class="icon-container"><i class="material-icons">save_alt</i></span>
                </button>
            </div>
        </form>
    </ng-container>
</div>

