<div class="authentication-content">
    <h2>Sign in</h2>
    <form [formGroup]="form" (ngSubmit)="login()" novalidate>
        <div class="form-fields">
            <app-input [abstractControl]="form.get('email')" label="Email" type="email" formControlName="email"></app-input>
            <app-input [abstractControl]="form.get('password')" label="Password" type="password" formControlName="password"></app-input>
        </div>
        <button type="submit" class="button primary full-width">
            <span class="title">Sign in</span>
            <span class="icon-container"><i class="material-icons">exit_to_app</i></span>
        </button>
        <div class="link">
            <p>Do not have an account?</p>
            <a routerLink="/registration">Sign up</a>
        </div>
    </form>
</div>


