<div class="actions">
    <app-button (click)="openAddGroupFormModal()"
                icon="add"
                class="primary"
                label="Create group">
    </app-button>
</div>

<section class="groups">
    <div (click)="selectGroup(group)" *ngFor="let group of groups" class="box">
        <div class="box-header">
            <h4>{{group.name}}</h4>
            <div>
                <i (click)="openEditGroupFormModal(group.id)" class="material-icons">create</i>
                <i (click)="openDeleteGroupModal(group.id)" class="material-icons">delete</i>
            </div>
        </div>
        <div class="box-content">
            <div class="balance-container">
                <div class="balance">
                    <div>
                        <span [class.success]="group.todayBalance >= 0" [class.danger]="group.todayBalance < 0" class="amount">{{244 | money}}</span>
                        <small>Spend today</small>
                    </div>
                    <div>
                        <span [class.success]="group.totalBalance >= 0" [class.danger]="group.totalBalance < 0" class="amount">{{12345 | money}}</span>
                        <small>Balance</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="avatars">
                <app-avatar [size]="30" *ngFor="let user of group.users" [initials]="user.email"></app-avatar>
            </div>
            <div>
                <span>{{group.created}}</span>
            </div>
        </div>
    </div>
</section>
