<aside class="side-navigation">
    <div class="aside-header">
        <i routerLink="/groups" class="material-icons">chevron_left</i>
        <img src="../../../../assets/images/logo-white.png" alt="Budgetify">
        <h1>Budgetify</h1>
    </div>
    <div *ngIf="profile" class="aside-balance">
        <span>{{profile.balance | money }}</span>
        <small>Current balance</small>
    </div>
    <nav class="navigation">
        <div>
            <a routerLink="/groups/{{1}}/dashboard" routerLinkActive="active" class="menu-item">
                <i class="material-icons">assessment</i>
                <span>Dashboard</span>
            </a>
            <a routerLink="/groups/{{1}}/categories" routerLinkActive="active" class="menu-item">
                <i class="material-icons">apps</i>
                <span>Categories</span>
            </a>
            <a routerLink="/groups/{{1}}/operations" routerLinkActive="active" class="menu-item">
                <i class="material-icons">account_balance_wallet</i>
                <span>Operations</span>
            </a>
            <a routerLink="/groups/{{1}}/users" routerLinkActive="active" class="menu-item">
                <i class="material-icons">people</i>
                <span>Users</span>
            </a>
        </div>
    </nav>
</aside>
