<div class="table-container">
    <app-line-loader [isPositionAbsolute]="true" *ngIf="isLoading"></app-line-loader>
    <table class="table elevated">
        <app-datatable-header
            [colspan]="colspan"
            [columns]="columns"
            [rowsCount]="rows.length"
            [selectedRowsCount]="selectedRowsIds.length"
            (selectAll)="selectAll($event)"
            (action)="action.emit($event)"
            (sort)="sortBehaviorSubject.next($event)">
        </app-datatable-header>
        <tbody>
        <tr (click)="action.emit({id: row.id, type: actionsTypes.View})" *ngFor="let row of rows">
            <td class="text-center">
                <div (click)="$event.stopPropagation()"  class="table-choice choice-row">
                    <input [checked]="selectedRowsIds.indexOf(row.id) !== -1"
                           value="{{row.id}}"
                           (change)="handleRowSelect($event)"
                           id="row-{{row.id}}"
                           type="checkbox">
                    <label for="row-{{row.id}}"></label>
                </div>
            </td>
            <td *ngFor="let column of columns">{{row[column.id]}}</td>
            <td class="center">{{row.updated}}</td>
            <td class="center">{{row.created}}</td>
            <td (click)="$event.stopPropagation()" class="table-actions text-center">
                <div>
                    <i (click)="action.emit({id: row.id, type: actionsTypes.Edit})" class="material-icons">create</i>
                    <i (click)="action.emit({id: row.id, type: actionsTypes.Delete})" class="material-icons">delete</i>
                </div>
            </td>
        </tr>
        <tr *ngIf="rows.length === 0 && !isLoading">
            <td class="no-data" [colSpan]="colspan">No data</td>
        </tr>
        </tbody>
        <app-datatable-footer
            [colspan]="colspan"
            [count]="count"
            (paging)="pagingBehaviorSubject.next($event)">
        </app-datatable-footer>
    </table>
</div>
