$color-white: #ffffff;
$color-black: #000000;

$color-text-light: #8082C4;

$color-text: #33343d;
$color-text-secondary: #A7A9C0;

$color-primary: #01058a;
$color-secondary: #1BA9EA;
$color-danger: #dc3545;
$color-success: #4cae4c;

$color-body-background: darken(#fafafd, 1%);
$color-background: #FDFDFE;

$color-border: #E7E8F2;
$color-border-light: #393DA3;
