$color-white: #ffffff;
$color-black: #000000;
$color-primary: #0078ff;
$color-text: #42526E;
$color-danger: #dc3545;
$color-success: #4cae4c;

$color-page-title: #808080;
$color-aside-background: #0747A6;
$color-aside-secondary-background: #f4f5f7;
$color-body-background: #fafafd;
$color-table-row-hover-background: #fafafa;
