<header class="header">
    <div>
        <h2>{{title}}</h2>
    </div>
    <div>
        <div routerLink="/admin/settings" routerLinkActive="active" class="header-box">
            <i class="material-icons">settings</i>
        </div>
        <div class="header-box">
            <i class="material-icons">notifications</i>
        </div>
        <div routerLink="/admin/profile" routerLinkActive="active" *ngIf="profile" class="header-box profile">
            <app-user-box [user]="profile"></app-user-box>
        </div>
        <div (click)="logout()" class="header-box">
            <i class="material-icons">power_settings_new</i>
        </div>
    </div>
</header>
