<aside class="side-navigation">
    <div class="aside-header">
        <img src="../../../assets/images/logo.png" alt="Budgetify">
        <h1>Budgetify</h1>
    </div>
    <div class="aside-balance">
        <span>{{profile.balance | money }}</span>
        <small>Current balance</small>
    </div>
    <nav class="navigation">
        <div>
            <a routerLink="/admin/dashboard" routerLinkActive="active" class="menu-item">
                <i class="material-icons">assessment</i>
                <span>Dashboard</span>
            </a>
            <a routerLink="/admin/categories" routerLinkActive="active" class="menu-item">
                <i class="material-icons">cached</i>
                <span>Categories</span>
            </a>
            <a routerLink="/admin/operations" routerLinkActive="active" class="menu-item">
                <i class="material-icons">location_city</i>
                <span>Operations</span>
            </a>
            <a routerLink="/admin/users" routerLinkActive="active" class="menu-item">
                <i class="material-icons">person</i>
                <span>Users</span>
            </a>
        </div>
        <div>
            <a routerLink="/admin/settings" routerLinkActive="active" class="menu-item">
                <i class="material-icons">settings</i>
                <span>Settings</span>
            </a>
        </div>
    </nav>
</aside>
