<tr>
    <th class="center small-column">
        <div (click)="$event.stopPropagation()"  class="table-choice choice-row">
            <input [checked]="selectedRowsCount === rowsCount && rowsCount > 0"
                   id="all-rows-select"
                   (change)="selectAll.emit($event.target.checked)"
                   [disabled]="rowsCount === 0"
                   type="checkbox">
            <label for="all-rows-select"></label>
        </div>
    </th>
    <ng-container *ngFor="let column of columns">
        <th [class.active]="column.sortable && sort.column === column.id"
            (click)="column.sortable && updateSort(column.id)"
            [class.sortable]="column.sortable"
            [ngClass]="column.class">
            <div>
                <span>{{column.name}}</span>
                <i *ngIf="sort.column === column.id && sort.type === sortTypes.desc" class="material-icons">arrow_drop_down</i>
                <i *ngIf="sort.column === column.id && sort.type === sortTypes.asc" class="material-icons">arrow_drop_up</i>
            </div>
        </th>
    </ng-container>

    <th class="center medium-column">
        <div>
            <span>Actions</span>
        </div>
    </th>
</tr>
